@import url('<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 0 12rem;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
}

.cabecalho-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cabecalho-link {
  text-decoration: none;
  color: #606c38;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.link-btn {
  border: 1px solid #606c38;
  padding: 0.75rem;
  border-radius: 8px;
}

.link-btn:hover {
  background-color: #606c38;
  color: #fff;
}

.categorias-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 0;
}

.categoria-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f3efef;
  padding: 0.5rem;
}

.categoria-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #5f5b5b;
}

.categoria-link:hover .categoria-img {
  height: 85px;
  width: 85px; 
  background-color: #fff;
}

.mais-vistos-cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 100%;
}

.card-evento {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: flex-start;
  max-width: 280px;
}

.card-evento:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.card-evento-img {
  height: 180px;
  width: 280px;
  border-radius: 6px;
}

.card-evento-data {
  color: #606c38;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 1rem;
}

.card-evento-name {
  color: black;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0;
  margin-left: 1rem;
}

.card-evento-local {
  color: #5f5b5b;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0;
  margin-left: 1rem;
}

.destaque-evento {
  display: flex;
  gap: 2rem;
  width: 80%;
  height: 480px;
  margin: 0 auto 5rem;
  padding: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.destaque-evento-img {
  width: 65%;
  border-radius: 8px;
}

.destaque-evento-infos {
  display: flex;
  flex-direction: column;
}

.destaque-evento-data {
  color: #606c38;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.destaque-evento-name {
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}

.destaque-evento-local {
  color: #5f5b5b;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0;
}

.destaque-link {
  text-decoration: none;
  color: #606c38;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.destaque-link-btn {
  border: 1px solid #606c38;
  padding: 1rem 0.75rem;
  border-radius: 8px;
  width: 60%;
  text-align: center;
  margin: auto 0 2rem;
}

.destaque-link-btn:hover {
  background-color: #606c38;
  color: #fff;
}

.destaque-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3efef;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 6px;
  margin: 2rem 0;
}

.destaque-login-titulo {
  margin-bottom: 0.5rem;
}

.destaque-login-paragrafo {
  color: #5f5b5b;
  font-weight: 300;
  margin-top: 0;
}

.destaque-login-btn {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #606c38;
  border-radius: 6px;
  padding: 1rem;
}

.cidades-container {
  display: flex;
  justify-content: space-between;
}

.cidades-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 320px;
  position: relative;
  margin-bottom: 2rem;
}

.cidade-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.cidade-img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.05);
}

.cidade-name {
  position: absolute;
  bottom: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
}

.parceiros {
  background-color: #f3efef;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.parceiros-cabecalho {
  margin: 2rem 0;
}

.parceiros-cabecalho-letterbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  background-color: black;
  width: 50%;
  border-radius: 10px;
}

.parceiros-cabecalho-letterbox > img {
  width: 60%;
  height: auto;
}

.parceiros-cabecalho-letterbox > h3 {
  font-size: 0.8rem;
  font-weight: 200;
}

.parceiros-cabecalho-titulo {
  color: #606c38;
  font-weight: 400;
}

.parceiros-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 90%;
  background-color: #606c38;
  margin: 0 2rem 2rem;
  border-radius: 10px;
}

.parceiros-box-conteudo {
  margin: 2rem 2rem;
}

.parceiros-box-titulo {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
}

.parceiros-box-paragrafo {
  color: #fff;
  font-weight: 400;
  margin-bottom: 2rem;
}

.parceiros-box-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.parceiros-box-btn:hover {
  opacity: 0.8;
}

.laranja {
  background-color: #ff7b2f;
}

.vazado {
  background-color: #606c38;
  border: 1px solid #fff;
}

.parceiros-box-img {
  margin: 2rem;
}

.rodape {
  background-color: #283618;
  padding: 2rem 12rem;
  margin-top: 2rem;
}

.rodape-cabecalho {
  border-bottom: 1px solid #fff;
}

.rodape-conteudo {
  display: flex;
  justify-content: space-around;
}

.rodape-conteudo-coluna{
  display: flex;
  flex-direction: column;
}

.rodape-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rodape-titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 1.5rem 0;
}

.rodape-link {
  text-decoration: none;
  color: #e2d9d9;
  font-size: 0.75rem;
  font-weight: 100;
}

.rodape-copyright {
  color: #e2d9d9;
  font-size: 0.75rem;
  font-weight: 100;
  text-align: center;
  margin-top: 3rem;
}

.pesquisa-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.pesquisa-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #a09696;
  border-radius: 0.75rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.pesquisa-wrapper input {
 font-size: 1rem;
 outline: none;
 border: none;
 width: 90%;
}

.pesquisa-wrapper i {
  color: #606c38;
  cursor: pointer;
}
